name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

permissions:
  contents: write

env:
  GAME_APP_NAME: CatPaw
  GAME_EXECUTABLE_NAME: catpaw
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  build-macos:
    name: Build macOS
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - target: aarch64-apple-darwin
            suffix: _Silicon
          - target: x86_64-apple-darwin
            suffix: _Intel
    env:
      MACOSX_DEPLOYMENT_TARGET: 11.0
    steps:
      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.target }}
      - name: Build release
        run: |
          SDKROOT=$(xcrun -sdk macosx --show-sdk-path) cargo build --release --target=${{ matrix.target }}
      - name: Create release
        run: |
          mkdir -p build/macos/src/${{ env.GAME_APP_NAME }}.app/Contents/MacOS
          cp target/${{ matrix.target }}/release/${{ env.GAME_EXECUTABLE_NAME }} build/macos/src/${{ env.GAME_APP_NAME }}.app/Contents/MacOS/
          strip build/macos/src/${{ env.GAME_APP_NAME }}.app/Contents/MacOS/${{ env.GAME_EXECUTABLE_NAME }}
          codesign --force --deep --sign - build/macos/src/${{ env.GAME_APP_NAME }}.app
          ln -s /Applications build/macos/src/
          hdiutil create -fs HFS+ -volname "${{ env.GAME_APP_NAME }}" -srcfolder build/macos/src ${{ env.GAME_EXECUTABLE_NAME }}.dmg
      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.GAME_EXECUTABLE_NAME }}.dmg
          asset_name: ${{ env.GAME_APP_NAME }}_${{ steps.tag.outputs.tag }}_macOS_${{ matrix.suffix }}.dmg
          tag: ${{ github.ref }}
          overwrite: true

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Build release
        run: |
          cargo build --release
      - name: Zip release
        uses: vimtor/action-zip@v1
        with:
          files: target/release/${{ env.GAME_EXECUTABLE_NAME }}.exe
          dest: ${{ env.GAME_EXECUTABLE_NAME }}.zip
      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.GAME_EXECUTABLE_NAME }}.zip
          asset_name: ${{ env.GAME_APP_NAME }}_${{ steps.tag.outputs.tag }}_Windows.zip
          tag: ${{ github.ref }}
          overwrite: true
